*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



.logo{
    display: flex;
    /* font-size: 40px; */
    font-size: 32px;
    font-weight: bold;
    color: rgb(139, 92, 246);
}

.options{
    display: flex;
    font-size:20px;
    gap: 70px;
}

.opt{
    display: flex;
    list-style: none;
    text-decoration: none;
    text-decoration-line: none;
    gap: 70px;
    padding-top: 12px;
    color: black;
    /* font-weight: bold; */
}

.navbar{
    height: auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    /* position: sticky;
    top: 0px;
    overflow: hidden; */
}

.btn1{
    /* margin: auto; */
    font-size: 20px;
    padding: 10px;
    /* background-color: (#02033f); */
    background-color: rgb(3, 3, 73);
    border-color: grey;
    border-radius: 12px;
}
#btn1{
    color: white;
    text-decoration: none;
}

.btn1:hover{
    background-color: rgb(139, 92, 246);
    box-shadow: 4px 4px 4px grey;
}

.ch{
    text-decoration: none;
    color: rgb(3, 3, 73);
}

.ch:hover{
    color: rgb(139, 92, 246);
    text-decoration: underline;
}
.box1{
    height: 70vh;
    background-image: url(learnx.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 90px;
}

.text1{
    font-size: 64px;
    color: white;
    display: flex;
    justify-content: center;
}

.text2{
    font-size: 22px;
    color: white;
    display: block;
    justify-content: center;

}

#btn2{
    color: white;
    font-size: 20px;
    text-decoration-line: none;
}

.btn2{
    background-color: rgb(139, 92, 246);
    padding: 20px;
    border-radius: 16px;
}

#btn3{
    color: black;
    font-size: 20px;
    text-decoration-line: none;
}

.btn3{
    padding: 20px;
    border-radius: 16px;
}

.btns{
    display: flex;
    gap: 300px;
}

.box2{
    background-color: rgb(139, 92, 246);
    height: 70vh;
    color: white;
    
}

.info{
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    line-height: 190px;
}

.box2 i{
    font-size: 128px;
}

.text3{
    font-size: 40px;
    font-weight: bold;
}
.text4{
    font-size: 20px;
}

.enrolled{
    line-height: 90px;
    padding-left: 10px;
}

.offered{
    line-height: 90px;
    align-self: center;
}

.faculty{
    line-height: 90px;
}

.cities{
    line-height: 90px;
    padding-right: 10px;
}

#globe{
    padding-left: 5px;
}

.box3{
    height: 81.57vh;
    background-color: rgb(2, 3, 50);
    color: white;
}

.card1{
    height: 350px;
    width: 250px;
    border-radius: 16px;
    background-color: rgb(2, 3, 50);
    box-shadow: 0px 0px 50px gray;
    line-height: 30px;
}

.img1{
    height: 140px;
    background-image: url(learnx1.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.text7{
    font-size: 10px;
}

.text8{
    font-size: 20px;
}

.text9{
    font-size: 12px;
}

.btn4{
    color: black;
    border-radius: 8px;
    padding: 8px;
}
#btn4{
    text-decoration: none;
}