*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.logo{
    display: flex;
    /* font-size: 40px; */
    font-size: 32px;
    font-weight: bold;
    color: rgb(139, 92, 246);
}

.options{
    display: flex;
    font-size:20px;
    gap: 70px;
}

.opt{
    display: flex;
    list-style: none;
    text-decoration: none;
    text-decoration-line: none;
    gap: 70px;
    padding-top: 12px;
    color: black;
    /* font-weight: bold; */
}

.navbar{
    height: auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    /* position: sticky;
    top: 0px;
    overflow: hidden; */
}

.apply{
    /* margin: auto; */
    font-size: 20px;
    padding: 10px;
    /* background-color: (#02033f); */
    background-color: rgb(3, 3, 73);
    color: white;
    border-color: grey;
    border-radius: 12px;
    cursor: pointer;
}

.apply:hover{
    background-color: rgb(139, 92, 246);
    box-shadow: 4px 4px 4px grey;
}

.ch{
    text-decoration: none;
    color: rgb(3, 3, 73);
}

.ch:hover{
    color: rgb(139, 92, 246);
    text-decoration: underline;
}
.box1{
    height: 90vh;
    background-image: url(learnx.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
